Repository Beam-Impact/beam-nextjs-example-app: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write, prettier --write --ignore-unknown

.lintstagedrc:

{
  "*.{js,ts,mjs,jsx,tsx}": ["eslint --cache --fix", "prettier --write"],
  "*.{md,css,html,json}": "prettier --write --ignore-unknown",
}

set up precommit hook
  .husky/pre-commit
  package.json
Due: prettier --write --ignore-unknown

revert Image usage that requires dimensions
  .husky/pre-push
  app/components/item.tsx
  app/components/nav.tsx
  package-lock.json
Due: eslint --cache --fix, prettier --write, prettier --write --ignore-unknown

update gitignore
  .gitignore
Due: none

consolidate / move directories
  app/common/nav.tsx
  app/examples/test-store/cart.tsx
  app/examples/test-store/item.tsx
  app/examples/test-store/page.tsx
  app/layout.tsx
Due: eslint --cache --fix, prettier --write

ignore nextjs image optimization lint
  app/common/nav.tsx
  app/examples/test-store/item.tsx
Due: eslint --cache --fix, prettier --write

Make store example load dynamically with Beam cart integrated
  app/examples/test-store/page.tsx
  app/examples/test-store/store.tsx
Due: eslint --cache --fix, prettier --write

update sdk version
  .nvmrc
  package-lock.json
  package.json
Due: prettier --write --ignore-unknown

Node upgrade
  app/common/beamContext.tsx
  app/examples/test-store/store.tsx
  app/widgets/select-nonprofit/page.tsx
  package-lock.json
  package.json
Due: eslint --cache --fix, prettier --write, prettier --write --ignore-unknown

Upgrade to 22
  .nvmrc
  app/layout.tsx
  package-lock.json
  package.json
Due: eslint --cache --fix, prettier --write, prettier --write --ignore-unknown

Revert a change that was accidental
  app/layout.tsx
Due: eslint --cache --fix, prettier --write

Add back event handler example
  app/widgets/select-nonprofit/page.tsx
Due: eslint --cache --fix, prettier --write

Small revert
  app/examples/test-store/store.tsx
Due: eslint --cache --fix, prettier --write

Add PDP example file to test app
  app/common/nav.tsx
  app/widgets/product-details-page/page.tsx
  package-lock.json
  package.json
Due: eslint --cache --fix, prettier --write, prettier --write --ignore-unknown

Checkpoint - npm package updates
  app/examples/test-store/store.tsx
  app/widgets/post-purchase/page.tsx
  eslint.config.mjs
  next.config.js
  package-lock.json
  package.json
  tsconfig.json
Due: eslint --cache --fix, prettier --write, prettier --write --ignore-unknown

Remove leftover pages from nextjs update
  pages/_document.tsx
Due: eslint --cache --fix, prettier --write

Remove irrelevant cart tracking examples
  app/examples/test-store/store.tsx
Due: eslint --cache --fix, prettier --write

Remove unused imports
  app/examples/test-store/store.tsx
Due: eslint --cache --fix, prettier --write

Updating demo pages to be more realistic to an actual storefront
  app/common/storefront.tsx
  app/examples/test-store/cart.tsx
  app/examples/test-store/item.tsx
  app/examples/test-store/store.tsx
  app/globals.css
  app/layout.tsx
  app/types.tsx
  app/widgets/community-impact/page.tsx
  app/widgets/cumulative-impact/page.tsx
  app/widgets/impact-overview/page.tsx
  app/widgets/post-purchase/page.tsx
  app/widgets/product-details-page/page.tsx
  app/widgets/redeem-transaction/page.tsx
  app/widgets/select-nonprofit/page.tsx
Due: eslint --cache --fix, prettier --write, prettier --write --ignore-unknown
